/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header__img {
  width: 100%;
}
.header__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
  .header { 
    text-align: center;
  }
}
.app {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.app__input, .app__task-label {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.app__input-container {
  display: flex;
}
#completed-tasks, #incomplete-tasks {
  margin: 0;
  padding: 0px;
}
.app__item, .app__list-title {
  list-style: none;
}
.input, .app__btn{
  outline: none;
}
.app__btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.app__btn:hover {
  color: #3a3a3a;
}
/* Heading */
.app__list-title,
.app__add-label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.app__edit-input, .app__add-input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.app__edit-input:focus, 
.app__add-input:focus {
  color: #333;
}

/* New Task */
.app__add-label {
  display: block;
  margin: 0 0 20px;
}
#new-task {
  width: 318px;
}

/* Task list */
.app__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;  
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app__item > .app__check-input,
.app__item > .app__task-label,
.app__item > .app__edit-input,
.app__item > .app__btn {
  vertical-align: middle;
}

.app__item > .app__check-input {
  margin: 0 10px;
}
.app__item > .app__task-label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.app__item > .app__edit-input {
  width: 226px;
}
.app__delete-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.app__delete-img:hover {
  transform: rotateZ(0);
}

/* Completed */
#completed-tasks .app__task-label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.app__edit-input {
  display: none;
}

.edit-mode .app__edit-input {
  display: inline-block;
  width: 224px;
}

.edit-mode .app__task-label {
  display: none;
}